<!-- <header id="header">
    <nav class="navbar navbar-expand-lg navbar-color">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/home']">BLUE <span class="star">STAR</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <div class="mr-5" [routerLinkActive]="['activeDiv', 'active']">
                        <a class="nav-item nav-link" [routerLink]="['/home']">Home</a>
                    </div>
                    <div class="mr-5" [routerLinkActive]="['activeDiv', 'active']">
                        <a class="nav-item nav-link" [routerLink]="['/our-rooms']">Our Rooms</a>
                    </div>
                    <div class="mr-5" [routerLinkActive]="['activeDiv', 'active']">
                        <a class="nav-item nav-link" [routerLink]="['/our-facilities']">Our
                            Facilities</a>
                    </div>
                    <div  [routerLinkActive]="['activeDiv', 'active']">
                        <a class="nav-item nav-link" [routerLink]="['/contact-us']">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header> -->

<header (window:click)="closeMenu()">
    <nav class="container">
        <div class="navBrand">
            <a [routerLink]="['/home']">BLUE <span class="star">STAR</span></a>
        </div>

        <div class="theme-icon d-flex align-items-center" (click)="toggleTheme()">
            <img src="/assets/theme-icon.svg" alt="Theme Icon">
        </div>

        <div class="menu-wrapper btn d-lg-none" (click)="openMenu($event)">
            <div class="menu"></div>
        </div>

        <div class="navLinks">
            <div class="links">
                <a [routerLink]="['/home']" [routerLinkActive]="['activeLink']">Home</a>
                <a [routerLink]="['/our-rooms']" [routerLinkActive]="['activeLink']">Our Rooms</a>
                <a [routerLink]="['/our-facilities']" [routerLinkActive]="['activeLink']">Our Facilities</a>
                <a [routerLink]="['/contact-us']" [routerLinkActive]="['activeLink']">Contact Us</a>
                <div class="animation start-home"></div>
            </div>
        </div>
    </nav>
</header>