header {
  position: absolute;
  z-index: 4;
  width: 100%;
  background: var(--navbar-backgroundcolor);

  nav {
    display: flex;
  }

  .star {
    display: inline-block;
    color: var(--tertiary-color);
  }

  nav a {
    z-index: 1;
    color: var(--primary-color);
    text-decoration: none;
    line-height: 65px;
  }

  .navBrand {
    font-size: 25px;
    font-weight: 700;
    z-index: 5;
  }

  .menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-left: auto;
    z-index: 4;
  }

  .menu {
    height: 2.5px;
    width: 30px;
    background: var(--navbar-active-link);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      top: 21px;
      right: 12px;
      height: 2.5px;
      width: 40px;
      background: var(--navbar-active-link);
      border-radius: 5px;
      transition: all 0.6s ease-in-out;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 21px;
      right: 12px;
      height: 2.5px;
      width: 20px;
      background: var(--navbar-active-link);
      border-radius: 5px;
      transition: all 0.6s ease-in-out;
    }
  }

  .menu-wrapper.active .menu {
    height: 0px;
    width: 0px;

    &::before {
      content: "";
      top: 30px;
      width: 40px;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      bottom: 30px;
      width: 40px;
      transform: rotate(-45deg);
    }
  }

  .navLinks {
    content: "";
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    background: var(--navbar-backgroundcolor);
    height: 100%;
    transform: skewX(0deg) translate(100%, 0);
    transform-origin: top right;
    transition: all 0.6s ease-in-out;
    z-index: -1;
  }

  .navLinks a {
    opacity: 0;
    transform: translate(0, 10px);
    transition: all 0s ease-in;
    font-size: 30px;
    font-weight: 400;
  }

  .navLinks.active {
    transform: skewX(8deg) translate(0, 0);
    z-index: 3;
  }

  .navLinks.active a {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 0.2s ease-in 0s;

    transform-origin: top left;
    display: block;
    text-align: right;
  }

  .links {
    transform: skewX(-8deg);
    margin-right: 30%;
  }

  .navLinks.active a:nth-child(1) {
    transition-delay: 0.3s;
  }

  .navLinks.active a:nth-child(2) {
    transition-delay: 0.4s;
  }

  .navLinks.active a:nth-child(3) {
    transition-delay: 0.5s;
  }

  .navLinks.active a:nth-child(4) {
    transition-delay: 0.6s;
  }
}

@media screen and (min-width: 992px) {
  header {
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 65px;
    }

    .navBrand {
      font-size: 25px !important;
    }

    .navLinks {
      flex-direction: row;
      transform: translateX(0);
      position: relative !important;
      font-size: 16px !important;
      height: 100% !important;
      width: auto !important;
      transform: skewX(0deg) translate(0, 0);
      transform-origin: top right;
      transition: all 0.6s ease-in-out;
      z-index: 0 !important;
    }

    .links {
      transform: skewX(0deg);
      margin-right: 0;
    }

    .navLinks a {
      position: relative !important;
      text-align: center !important;
      display: inline-block !important;
      opacity: 1 !important;
      font-size: 16px !important;
      font-weight: 600 !important;
      transform: translate(0, 0px) !important;
    }

    .animation {
      position: absolute;
      bottom: 0;
      z-index: 0;
      height: 5px;
      background: var(--navbar-active-link);
      border-radius: 50px 50px 0px 0px;
      transition: all 0.5s ease 0s;
    }

    .navLinks a:nth-child(1) {
      width: 100px;
    }

    a:nth-child(1).activeLink ~ .animation {
      width: 50px;
      left: 25px;
    }

    a:nth-child(1):hover ~ .animation {
      width: 50px !important;
      left: 25px !important;
    }

    .navLinks a:nth-child(2) {
      width: 150px;
    }

    a:nth-child(2).activeLink ~ .animation {
      width: 100px;
      left: 125px;
    }

    a:nth-child(2):hover ~ .animation {
      width: 100px !important;
      left: 125px !important;
    }

    .navLinks a:nth-child(3) {
      width: 150px;
    }

    a:nth-child(3).activeLink ~ .animation {
      width: 100px;
      left: 275px;
    }

    a:nth-child(3):hover ~ .animation {
      width: 100px !important;
      left: 275px !important;
    }

    .navLinks a:nth-child(4) {
      width: 150px;
    }

    a:nth-child(4).activeLink ~ .animation {
      width: 100px;
      left: 425px;
    }

    a:nth-child(4):hover ~ .animation {
      width: 100px !important;
      left: 425px !important;
    }
  }
}
