<footer>
    <div class="container-fluid padding-reset">
        <div class="row margin-reset">
            <div class="bg-img col-12 col-lg-11 padding-reset">
                <div class="overlay">
                    <div class="container">
                        <div class="row">
                            <p class="footer-text1 col-lg-6">
                                Do you have anything to tell us about our staff, management, services or
                                anything you want us to know?
                            </p>
                            <div class="col-lg-6 d-flex justify-content-center mt-4 mt-lg-0">
                                <form>
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="message">Message</label>
                                        <textarea rows="5" class="form-control" required></textarea>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <button type="submit" class="btn footer-btn">Send</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="footer-nav row align-items-center">
                            <div class="col-md-5">
                                <h2 class="footer-logo">BLUE STAR</h2>
                            </div>
                            <div class="col-md-7 d-flex justify-content-between flex-wrap">
                                <div class="">
                                    <a [routerLink]="['/home']" class="nav-item nav-link">Home</a>
                                </div>
                                <div class="">
                                    <a [routerLink]="['/our-rooms']" class="nav-item nav-link">Our Rooms</a>
                                </div>
                                <div class="">
                                    <a [routerLink]="['/our-facilities']" class="nav-item nav-link">Our Facilities</a>
                                </div>
                                <div>
                                    <a [routerLink]="['/contact-us']" class="nav-item nav-link">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="follow-us d-flex justify-content-end align-items-center">
            <p class="follow-us-text mr-2">Follow Us:</p>
            <a style="background: white; border-radius: 50%;" href="https://www.facebook.com" class="mr-2"><img src="/assets/footer/facebook.svg" alt="Facebook"> </a>
            <a style="background: white; border-radius: 50%;" href="https://www.instagram.com" class="mr-2"><img src="/assets/footer/instagram.svg" alt="Instagram"></a>
            <a style="background: white; border-radius: 50%;" href="https://www.twitter.com"><img src="/assets/footer/twitter.svg" alt="Twitter"></a>
        </div>
    </div>
</footer>