<footer>
    <div class="container-fluid padding-reset">
        <div class="row margin-reset">
            <div class="bg-img col-12 col-md-11 padding-reset">
                <div class="overlay">
                    <div class="container">
                        <div class="row">
                            <p class="footer-text1 col-md-6">
                                Do you have anything to tell us about our staff, management, services or
                                anything you want us to know?
                            </p>
                            <div class="col-md-6 d-flex justify-content-center">
                                <form>
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="message">Message</label>
                                        <textarea rows="5" class="form-control"></textarea>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary">Send</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="footer-nav row align-items-center">
                            <div class="col-md-5">
                                <h2 class="footer-logo">BLUE STAR</h2>
                            </div>
                            <div class="col-md-7 d-flex justify-content-between">
                                <div class="">
                                    <a [routerLink]="['/home']" class="nav-item nav-link">Home</a>
                                </div>
                                <div class="">
                                    <a [routerLink]="['/our-rooms']" class="nav-item nav-link">Our Rooms</a>
                                </div>
                                <div class="">
                                    <a [routerLink]="['/our-facilities']" class="nav-item nav-link">Our Facilities</a>
                                </div>
                                <div>
                                    <a [routerLink]="['/contact-us']" class="nav-item nav-link">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="follow-us d-flex justify-content-end align-items-center">
            <p class="follow-us-text">Follow Us</p>
        </div>
    </div>
</footer>