footer {
  background: var(--bg1-color);

  .bg-img {
    background: url(/assets/footer/footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 36px;
    height: 900px;
    border-radius: 0px 100px 0px 0px;
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--img-overlay);
    border-radius: 0px 100px 0px 0px;
  }

  .follow-us {
    padding-bottom: 28px;
  }

  .follow-us-text {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0 !important;
  }

  .padding-reset {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .margin-reset {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  form {
    background: var(--form-bg-color);
    border-radius: 5px;
    padding: 25px 35px;
    width: 95%;
  }

  .footer-text1 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    margin-top: 109px;
    border-left: 18px solid var(--landing-btn-bg-color);
    border-radius: 18px;
    color: #ffffff;
  }

  .divider {
    border: 1px solid #ffffff;
    margin-top: 60px;
  }

  .footer-nav {
    margin-top: 17px;
  }

  .footer-logo,
  .nav-link,
  label {
    color: #ffffff;
  }

  .footer-btn {
    padding: 6px 27px !important;
    background: #ffffff !important;
    color: var(--bg3-color) !important;
  }
}

@media screen and (min-width: 992px) {
  footer {
    .bg-img {
      height: 430px;
    }

    .footer-text1 {
      font-size: 24px;
      line-height: 40px;
    }

    form {
      position: absolute;
      top: -54%;
      width: 70%;
    }

    .divider {
      margin-top: 109px;
    }
  }
}
