<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5 d-flex justify-content-center align-items-center">
                <img src="/assets/home/about-img.svg" alt="" class="img-fluid">
            </div>
            <div class="col-12 col-lg-7">
                <p>About Blue Star Hotel</p>
                <h2>We Aim at Making Your Stay An Authentic Experience</h2>
                <p>Blue Star accomodate guests in our four storey building categories of numbers include 34 rooms in
                    blue star hotel in which there is a safe, a tea pot, a minimal television set, an hair dryer, a
                    bathroom, a free wifi and many more. </p>
                <p>Our hotel is the right choice for visitors who are seraching for a convinent position from where to
                    explore surrondings</p>
            </div>
        </div>
    </div>
</section>