<section id="facilities">
    <div class="container">
        <div class="facilities-grid">
            <div #healthCare class="health-care box">
                <div class="overlay">
                    <div class="line1"></div>
                    <h3 class="box-header">Health Care</h3>
                    <p class="box-text">We care about your health also. Our health care service work 24/7</p>
                    <div class="line2"></div>
                </div>
            </div>
            <div #laundry class="laundry box">
                <div class="overlay">
                    <div class="line1"></div>
                    <h3 class="box-header">Laundry</h3>
                    <p class="box-text">You can request for laundry services, we offer discount prices.</p>
                    <div class="line2"></div>
                </div>
            </div>
            <div #internet class="internet box">
                <div class="overlay">
                    <div class="line1"></div>
                    <h3 class="box-header">Internet</h3>
                    <p class="box-text">24 hours wifi is available for your conveniences.</p>
                    <div class="line2"></div>
                </div>
            </div>
            <div #spa class="spa box">
                <div class="overlay">
                    <div class="line1"></div>
                    <h3 class="box-header">Spa</h3>
                    <p class="box-text">Your skin and body also matters to us that is why we have made SPA available.
                    </p>
                    <div class="line2"></div>
                </div>
            </div>
            <div #restaurant class="restaurant box">
                <div class="overlay">
                    <div class="line1"></div>
                    <h3 class="box-header">Restaurant</h3>
                    <p class="box-text">Enjoy our resturant delicacies at cheaper rates</p>
                    <div class="line2"></div>
                </div>
            </div>
            <div #pool class="swimming-pool box">
                <div class="overlay">
                    <div class="line1"></div>
                    <h3 class="box-header">Swimming Pool</h3>
                    <p class="box-text">Our swimming pool service are also made available for you.</p>
                    <div class="line2"></div>
                </div>
            </div>
        </div>
    </div>
</section>