<section id="contact">
    <div class="container">
        <div class="contact-grid">
            <div class="address">
                <div class="row">
                    <div class="col-3">3</div>
                    <div class="col-9">
                        <h4 class="contact-header">Address:</h4>
                        <p class="contact-text">13, Folorunsho Street, Bada, Balogun, Ayobo, Lagos State</p>
                    </div>
                </div>
            </div>
            <div class="email">
                <div class="row">
                    <div class="col-3">3</div>
                    <div class="col-9">
                        <h4 class="contact-header">Email:</h4>
                        <p class="contact-text">bluestarnigeria@gmail.com</p>
                        <p class="contact-text">bluestarcustomercare@uk.com</p>
                    </div>
                </div>
            </div>
            <div class="phone-number">
                <div class="row">
                    <div class="col-3">3</div>
                    <div class="col-9">
                        <h4 class="contact-header">Customer Care Line:</h4>
                        <p class="contact-text">+234 817 704 7279</p>
                        <p class="contact-text">+01 954 456 6789</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>