#contact {
  padding-top: 100px;
  padding-bottom: 150px;

  .contact-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .contact-header,
  .contact-text {
    color: var(--primary-color);
  }
}

@media screen and (min-width: 992px) {
  #contact {
    padding-bottom: 200px;

    .contact-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
}
