<section id="contact">
    <div class="container">
        <div class="contact-grid">
            <div class="address">
                <div class="row justify-content-center justify-content-md-start">
                    <div class="col-3 col-md-2">
                        <img src="/assets/contact-us/address.svg" alt="Address">
                    </div>
                    <div class="col-8 col-lg-6">
                        <h4 class="contact-header">Address:</h4>
                        <p class="contact-text">13, Folorunsho Street, Bada, Balogun, Ayobo, Lagos State</p>
                    </div>
                </div>
            </div>
            <div class="email">
                <div class="row justify-content-center justify-content-md-start">
                    <div class="col-3 col-md-2">
                        <img src="/assets/contact-us/mail.svg" alt="Mail">
                    </div>
                    <div class="col-8 col-lg-6">
                        <h4 class="contact-header">Email:</h4>
                        <a href="mailto:bluestarnigeria@gmail.com" class="contact-text">bluestarnigeria@gmail.com</a>
                        <br>
                        <a href="mailto:bluestarcustomercare@uk.com"
                            class="contact-text">bluestarcustomercare@uk.com</a>
                    </div>
                </div>
            </div>
            <div class="phone-number">
                <div class="row justify-content-center justify-content-md-start">
                    <div class="col-3 col-md-2">
                        <img src="assets/contact-us/phone.svg" alt="Phone">
                    </div>
                    <div class="col-8 col-lg-6">
                        <h4 class="contact-header">Customer Care Line:</h4>
                        <a href="tel:+2348177047279" class="contact-text">+234 817 704 7279</a> <br>
                        <a href="tel:+019544566789" class="contact-text">+01 954 456 6789</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>