<!-- <section id="subscribe" data-aos="zoom-in-right" data-aos-offset="500"> -->
<section id="subscribe">
    <div class="container">
        <div class="row d-flex flex-column align-items-center">
            <div class="col-12">
                <p class="subscribe-text text-center mb-1">Subscribe</p>
            </div>
            <div class="col-12 col-md-9 col-lg-8">
                <h2 class="subscribe-header text-center">Get
                    <span class="bold underline">Stories and Discount Promo Rates</span>
                    Happening In Our Hotel
                </h2>
            </div>
            <div class="col-12">
                <form>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Enter your email address" required>
                        <div class="input-group-prepend">
                            <button type="submit" class="btn">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>