<section id="junior-room">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center mt-4 mt-lg-0">
                <h2 class="room-text1">Junior Room</h2>
                <h3 class="room-text2">$400.00</h3>
                <p class="room-text3">2 People </p>
                <p class="room-text4">
                    Junior room also known as single room has two separate bed or one wide single bed, a safe, a tea
                    pot, a minimal television set, an hair dryer, a bathroom equpipped with a shower, a wash and a free
                    wifi and many more.
                </p>
                <div class="d-flex">
                    <button class="btn room-btn1 mr-4">Book Room</button>
                    <button class="btn room-btn2">Full Details</button>
                </div>
            </div>
            <div class="col-12 col-lg-7 order-1 order-lg-2">
                <img src="/assets/our-rooms/junior-room.jpg" alt="Junior Room" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section id="luxury-room">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5 order-2 d-flex flex-column justify-content-center mt-4 mt-lg-0">
                <h2 class="room-text1">Luxury Room</h2>
                <h3 class="room-text2">$800.00</h3>
                <p class="room-text3">2 People </p>
                <p class="room-text4">
                    Luxury room has a King size bed, Low floor, Pool access bed or one wide single bed, a safe, a tea
                    pot, a minimal television set, an hair dryer, a bathroom equpipped with a shower, a wash and a free
                    wifi and many more.
                </p>
                <div class="d-flex">
                    <button class="btn room-btn1 mr-4">Book Room</button>
                    <button class="btn room-btn2">Full Details</button>
                </div>
            </div>
            <div class="col-12 col-lg-7 order-1">
                <img src="/assets/our-rooms/luxury-room.jpg" alt="Luxury Room" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section id="executive-room">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center mt-4 mt-lg-0">
                <h2 class="room-text1">Executive Room</h2>
                <h3 class="room-text2">$1,200.00</h3>
                <p class="room-text3">2 People </p>
                <p class="room-text4">
                    Executive Room has a separate living and sleeping areas and overlook the garden with old trees and
                    an explosion of flowers and herbs., a safe, a tea pot, a minimal television set, an hair dryer, and
                    many more.
                </p>
                <div class="d-flex">
                    <button class="btn room-btn1 mr-4">Book Room</button>
                    <button class="btn room-btn2">Full Details</button>
                </div>
            </div>
            <div class="col-12 col-lg-7 order-1 order-lg-2">
                <img src="/assets/our-rooms/executive-room.jpg" alt="Executive Room" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section id="superior-room">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5 order-2 d-flex flex-column justify-content-center mt-4 mt-lg-0">
                <h2 class="room-text1">Superior Room</h2>
                <h3 class="room-text2">$1,500.00</h3>
                <p class="room-text3">2 People </p>
                <p class="room-text4">
                    Superior room are spacious and welcoming, and decorated with pastel colors and typically Venetian
                    tapestries. These rooms overlook the courtyard and the beautiful landscaped garden with old trees
                    and many more.
                </p>
                <div class="d-flex">
                    <button class="btn room-btn1 mr-4">Book Room</button>
                    <button class="btn room-btn2">Full Details</button>
                </div>
            </div>
            <div class="col-12 col-lg-7 order-1">
                <img src="/assets/our-rooms/superior-room.jpg" alt="Superior Room" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section id="standard-room">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center mt-4 mt-lg-0">
                <h2 class="room-text1">Standard Room</h2>
                <h3 class="room-text2">$2,500.00</h3>
                <p class="room-text3">2 People </p>
                <p class="room-text4">
                    Standard Room are characterized by large spaces: have a separate living and sleeping areas and
                    overlook the basin of Victoria Isalnd and many more.
                </p>
                <div class="d-flex">
                    <button class="btn room-btn1 mr-4">Book Room</button>
                    <button class="btn room-btn2">Full Details</button>
                </div>
            </div>
            <div class="col-12 col-lg-7 order-1 order-lg-2">
                <img src="/assets/our-rooms/standard-room.jpg" alt="Standard Room" class="img-fluid">
            </div>
        </div>
    </div>
</section>